<div class="blog">
  <div class="container">
    <%= link_to root_path + "#blog" do %>
      <button><< Back</button>
    <% end %>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="center p-up blog-head-title">
          Blog
        </h1>
      </div>
    </div>  <!-- end row div -->

    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>

      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
        <aside>
          <p>Recent</p>
          <ul class="blog-ul">
            <% @blogs.each do |blog| %>
              <li id="<%= blog.id %>"><a href="#"><%= blog.title %></a></li>
            <% end %>
          </ul>
        </aside>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-9">
        <h3 class="blog-title pull-left" id="<%= @blogs.first.id %>"><%= @blogs.last.title %></h3>
        <h4 class="blog-date pull-right"><%= @blogs.last.created_at.to_date %></h4>
        <p class="blog-content pull-left"><%= @blogs.last.content.gsub(/\n/, '<br>') %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>

      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"></div>

      <div class="col-lg-6 col-md-6 col-sm-9">

        <ul class="comment_list">
          <% @blogs.last.comments.each do |comment| %>

            <li>
              <h3><%= comment.name %></h3>
              <h5><%= comment.created_at.to_date %></h5>
              <p><%= comment.content %></p>
            </li>

          <% end %>
        </ul>


        <% if session[:id] === nil %>
          <%= form_for(Comment.new) do |f| %>
            <%= f.text_field :name, :placeholder => "Your Name (optional)" %>
            <%= f.text_area  :content, :placeholder => "Comment" %>
            <%= f.submit     :"Comment", :class => "btn" %>
          <% end %>
        <% end %>
        
      </div>
    </div>


    <% if session[:id] %>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <%= form_for new_blog_path do |f| %>
            <%= f.text_field :title, :style => "width: 100%;", placeholder: "Title" %><br>
            <%= f.text_area :content, :rows => "20", :cols => "100", placeholder: "content" %>
            <%= f.submit  :Submit, :class => "btn" %>
          <% end %>
        </div>
      </div>
    <% end %>



  </div> <!-- end container div -->
</div> <!-- end blog div -->