<div class="bio-page">

  <div id="bio-header">
    <div id="bio-header-overlay">


      <h1 id="bio-title">
        About Me
      </h1>
      
      <a class="scroll" href="#bio-section">
        <%= image_tag "down_arrow.png", :class => "nav-circle" %>
      </a>
    </div>
  </div>

  <div class="bio-container" id="bio-section">
    
    <h2 class="bio-title">
      Summary
    </h2>

    <p>
      I'm a full stack web developer with a passion for writing maintainable code.  I love building websites and apps from the ground up.  In my spare time I like to dive into new programming languages, read other peoples code and rock climb!  
    </p>

    <h2 class="bio-title">
      Skills
    </h2>

    <p>
      Click a skill to get more information
      <div class="skill-bar">
        <div class="inner-bar" data-skill="90"><span class="text">HTML5</span></div>
        <p class="description clearfix">
          <%= image_tag "html.jpg", :class => "skill" %>
          HTML5 is the content of the website. For example: all the text in this website comes from html files. 
        </p>
      </div>
      <div class="skill-bar">
        <div class="inner-bar" data-skill="70"><span class="text">CSS3</span></div>
        <p class="description clearfix">
        <%= image_tag "css3.png", :class => "skill" %>
          
        </p>
      </div>
      <div class="skill-bar">
        <div class="inner-bar" data-skill="71"><span class="text">Ruby</span></div>
        <p class="description clearfix">
        <%= image_tag "css3.png", :class => "skill" %>
          
        </p>
      </div>
      <div class="skill-bar">
        <div class="inner-bar" data-skill="60"><span class="text">JavaScript</span></div>
        <p class="description clearfix">
        <%= image_tag "JavaScript.png", :class => "skill" %>
          
        </p>
      </div>
      <div class="skill-bar">
        <div class="inner-bar" data-skill="80"><span class="text">Git</span></div>
        <p class="description clearfix">
        <%= image_tag "Git-Icon.png", :class => "skill" %>
          
        </p>
      </div>
      <div class="skill-bar">
        <div class="inner-bar" data-skill="75"><span class="text">Rails</span></div>
        <p class="description clearfix">
        <%= image_tag "rails-icon.png", :class => "skill" %>
          
        </p>
      </div>
      <div class="skill-bar">
        <div class="inner-bar" data-skill="75"><span class="text">JQuery</span></div>
        <p class="description clearfix">
        <%= image_tag "jquery-icon.png", :class => "skill" %>
          
        </p>
      </div>
      <div class="skill-bar">
        <div class="inner-bar" data-skill="10"><span class="text">React</span></div>
        <p class="description clearfix">
        <%= image_tag "react.png", :class => "skill" %>
          
        </p>
      </div>
      <ul class="skill-list">
        <li>Beginner</li>
        <li>Intermediate</li>
        <li>Advanced</li>
        <li>Expert</li>
      </ul>
    </p>


    <h2 class="bio-title">
      Early Days
    </h2>

    <p>
      I was born in Copenhagen, Denmark but was raised in Berkeley, California.  This meant I grew up speaking English and Danish and was granted dual citizenship to both countries.  My early childhood was split mostly between playing imaginary games with my best friend/neighbor and playing competitive soccer.
    </p>

    <h2 class="bio-title">
      Education
    </h2>

    <h3>Humboldt State University</h3>
    <p>
      I studied Environmental Resources Engineering for two years.  I completed my general education and a couple engineering courses before I left.  During the second year of this school I was exposed to my first  programming language Fortran.  Although this program was very exciting, the constant rain and culture of the town were not exactly my cup of tea so I decided to try something else.
    </p>
    <h3 class="sub-title">
      Berkeley City College
    </h3>
    <p>
      I took an HTML, CSS and JavaScript course and a PHP/MySQL course.  My teacher was a little burnt out so I had to take it upon myself to learn most of what he was trying to teach.  I found myself supplementing his classes and the textbook with asking questions on Google and some online courses.  Weirdly, this is actually where my passion began; partially because I was figuring out that I could learn this on my own but mostly because I was learning website fundamentals and It is so incredibly fascinating!<a href="#">REWRITE</a>
    </p>
    <h3 class="sub-title">Online Schools</h3>
    <p>
      My online education started with <a href="http://www.codecademy.com/">Code Academy</a>, an online programming school.  I took Ruby and Javascript courses that got me familiar with the programming concepts.  I did not, however, feel that I gained a solid grasp of programming at this point.  When I got to prototypes in JavaScript, I was still confused, and, similarly, Ruby classes made very little sense to me. A list of my completed resources can be found <a href="http://www.codecademy.com/lukas21">here</a>.
    </p>
    <p>
      <a href="https://www.codeschool.com/">Code School</a> is a great resource, but it's a little bit advanced for a total newbie, and I was definitely a total newbie when I started this course.  I was trying to learn Rails with the Rails for Zombies course, and it seemed to just assume that I had knowledge of Ruby and Rails concepts that I did not.  I don't like using a technology if I don't have a good grasp of what's going on behind the scenes, and this first intro to Rails was a lot like that.  I did end up coming back to this resource after DevBootcamp and it was very useful. A list of my completed resources can be found <a href="https://www.codeschool.com/users/lukasjones">here</a>.
    </p>
    <p>
      <a href="https://teamtreehouse.com/home">Teamtreehouse</a> is also an online school specializing in teaching programming.  This was the baby bear of online schools for me.  It was perfect for my skill level and I got totally lost in the learning.  Some of the many courses I took here were Ruby, Rails, JavaScript, Git, Terminal and Ios. A list of my completed courses can be found <a href="https://teamtreehouse.com/lukasjones">here</a>.
    </p>
   
    <h3 class="sub-title">Dev Bootcamp</h3>
    <p>
      <a href="http://devbootcamp.com/">Dev Bootcamp</a> is a 19-week intensive training program for aspiring web developers, specializing in Ruby, Rails, HTML5, CSS, Test Driven Development, Object-Oriented JavaScript (AJAX, Jquery), Git and Github, Heroku, and Agile Development.
    </p>
    <p>
      This was one of the best learning experiences of my life.  It has nothing to do with getting credits or earning a diploma or certificate.  It's just good old fashioned learning!

      I learned a lot.  Not only am I confident and experienced with these technologies, I am also confident and experienced with working in groups, completing projects under tight deadlines, communicating various aspects of projects with different kinds of stakeholders, presenting final work, quality assurance, managing coding projects, and acquiring new knowledge and skills as needed to complete real work.  This experience has created a burning passion in me for web and programming technologies and technical learning  
    </p>
    <h2 class="bio-title">
      Goals
    </h2>

    <p>
      My Goals are simple: develop new skills and good practices for programming and life, and use those to provide a high quality lifestyle.
    </p>

    



   <footer>
    copyright Lukas Jones
   </footer>
    
  </div>
</div>