<div class="col-lg-6 col-md-6 col-sm-12">
  <%= image_tag "html.jpg", :class => "skill" %>
  <%= image_tag "css3.png", :class => "skill" %>
  <%= image_tag "JavaScript.png", :class => "skill" %>
  <%= image_tag "Git-Icon.png", :class => "skill" %>
  <%= image_tag "rails-icon.png", :class => "skill" %>
  <%= image_tag "jquery-icon.png", :class => "skill" %>
</div>


<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12"></div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <p class="about-me-p">
      I'm a full stack web developer with a passion for writing maintainable code.  I love building websites and apps from the ground up.  In my spare time I like to dive into new programming languages, read other peoples code and rock climb!
    </p>
  </div>
</div>
<h1 class="center padded">
  Skills
</h1>