
<nav class="horizontal-nav">
  <ul>
    <li><a href="#bio" class="scroll">About Me</a></li>
    <li><a href="#portfolio" class="scroll">Portfolio</a></li>
    <li><a href="#blog" class="scroll">Blog</a></li>
    <li><a href="#contact" class="scroll">Contact Me</a></li>
  </ul>
</nav>
<header>
  <div class="opener-overlay">


    <h1 class="center name">Lukas Jones</h1>

    <h4 class="center title">Full Stack Developer</h4>

    <a class="scroll" href="#bio">
      <%= image_tag "down_arrow.png", :class => "nav-circle" %>
    </a>
  </div>
</header>

<section id="bio">
  <div class="bio-overlay">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <%= link_to bio_path do %>
          <button class="ghost-button">
            Read About me
          </button>
        <% end %>
      </div>

    </div>
      

    <a class="scroll" href="#portfolio">
      <%= image_tag "down_arrow.png", :class => "nav-circle" %>
    </a>

  </div>
</section>

<section id="portfolio">

  <div class="portfolio-overlay">
  
      <%= link_to welcome_projects_path do %>
        <button class="ghost-button">
          Check Out My Projects
        </button>
      <% end %>

    <a class="scroll" href="#blog">
      <%= image_tag "down_arrow.png", :class => "nav-circle" %>
    </a>
  </div>
</section>

<section id="blog">
  <div class="blog-overlay">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
      
            <%= link_to blogs_path do %>
              <button class="ghost-button">
                Read my Blog
              </button>
            <% end %>
      </div>
    </div>

    <a class="scroll" href="#contact">
      <%= image_tag "down_arrow.png", :class => "nav-circle" %>
    </a>

  </div>
  
</section>

<section id="contact">

    <button class="ghost-button contact-button">
      Say Hi!
    </button>
    <%= form_for @contact, :html => {:class => "contact-form"} do |f| %>
        <%= f.text_field :email, :class => "email-text", :placeholder => "Your Email" %>
        <%= f.text_area :content, :class => "content-text", :rows => '7', :placeholder => "Say hello!" %>
        <%= f.submit "submit", :class => "mail-submit" %>
    <% end %>

</section>



